html {
  background-color: lightgrey;
}

body {
  margin: 0;
}

header {
  background-color: #3E606F;
  text-align: center;
}

.headertitle {
  color: #fff;
}

li a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: .25rem;
}

li a:hover {
  background-color: #0074d9;
  color: #fff;
  padding: .25rem;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 24em;
  color: #fff;
}

.banner-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn {
  background-color: lightblue;
  border-color: white;
}

.btn:hover {
  background-color: blue;
  color: white;
}

.card {
  background-color: #3E606F;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
}


@media only screen and (min-width: 38em) {

  h1 {
    text-align: left;
  }

  ul {
    text-align: right;
  }

}
