html {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: black;
  text-align: center;
}

.headertitle {
  color: #fff;
}

li a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: .25rem;
}

li a:hover {
  background-color: lightblue;
  color: black;
  padding: .25rem;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 24em;
  color: #fff;
}

.banner-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bannerh1 {
  margin: 0;
}

.bannerp {
  margin: .75rem;
  margin-top: 0;
}

.btn {
  background-color: black;
  border-color: white;
  margin-bottom: 1rem;
  display: inline-block;
  text-align: center;
}

.btn:hover {
  background-color: lightblue;
  color: black;
}

.card {
  background-color: white;
  border: 2px solid white;
  border-radius: 8px;
  color: black;
}

footer {
  font-size: .75rem;
  text-align: center;
  background-color: black;
  color: #fff;
  padding: .5em;
}

.middle {
  text-align: center;
}

.font-table {
  background-color: white;
}

.styling {
  width: 1rem;
  color: lightblue;
}

.styling-2 {
  width: 1rem;
  color: darkblue;
}

.table-head {
  color: darkblue;
}

.caption {
  text-align: center;
}

@media only screen and (min-width: 38em) {

  h1 {
    text-align: left;
  }

  ul {
    text-align: right;
  }
}

@media only screen and (min-width: 60em) {

  .middle {
    text-align: center;
  }
}
